<html>
    <head>
        {% if title %}
        <title>{{ title }} - corrector</title>
        {% else %}
        <title>Corrector</title>
        {% endif %}
    </head>
    <body>
        <div>
			Навигация:
			<a href="{{ url_for('index') }}">Главная</a>
		</div>
        <hr>
		<h1>Привет!</h1>
		<h2>Это корректор вашего диплома или курсовой.</h2>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block form %}{% endblock %}
		{% block changes %}{% endblock %}
		<hr>
		<h4>Made by: Loparev Vlad, Kirsanova Ekaterina.</h4>
		<h4>UrFU, 2024.</h4>
    </body>
</html>